# A) Numpy

In [1]:
import numpy as np 
np.random.seed(123) 
random_int = np.random.randint(1,high=1000, size=(20, 5))

### Q-1 What is the average value of the first 5 rows ( 2 decimal place) ?

In [2]:
i=0
j=0
sum=0
avg_val=0
tot_elements=0

for i in range(0,5):
    n=random_int[i]
    for j in range(0,5):
        sum=sum+random_int[i][j]
        tot_elements=tot_elements+1

avg_val = sum/tot_elements
print('Average value of the first 5 having ', tot_elements, ' elements is ', avg_val)

Average value of the first 5 having  25  elements is  373.16

### Q-2 What is the average value of the second element in each of the list (2 decimal places)?

In [3]:
i=0
j=0
sum=0
avg_val=0
tot_elements=0

for i in range(0,5):
    n=random_int[i]
    sum=sum+random_int[i][2]
    tot_elements=tot_elements+1

avg_val = sum/tot_elements
print('Average value of the second element in each of the list ', avg_val)

Average value of the second element in each of the list  155.2

# B) Pandas

In [4]:
# Get the mtcars data using the following code:
import pandas as pd    
data = pd.read_html("https://gist.github.com/seankross/a412dfbd88b3db70b74b")
mtcars_df = data[0]

### Q-3) Get the name of the car(s) with highest power to displacement ratio

In [5]:
mtcars_df['PowerDispRation']=mtcars_df['hp']/mtcars_df['disp']

In [6]:
powerful_car=mtcars_df.loc[mtcars_df['PowerDispRation']==mtcars_df['PowerDispRation'].max()]
powerful_car

,Unnamed: 0,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb,PowerDispRation
29,NaN,Ferrari Dino,19.7,6,145.0,175,3.62,2.77,15.5,0,1,5,6,1.206897

### Q-4) How many cars have 4 cylinder and 4 gears?

In [7]:
df=mtcars_df.loc[(mtcars_df['cyl']==4) & (mtcars_df['gear']==4)]
df.shape

(8, 14)

# C) Strings

### Q5) Write a python program to count the number occurrences of all vowels present in a string.

In [8]:
str1="I am learning Python"
cnt=0

for i in str1:
    if i in ['a','e','i','o','u']:
        cnt=cnt+1
print('Number occurences of all vowels in string \"', str1, '\" is ', cnt)

Number occurences of all vowels in string " I am learning Python " is  5